* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins ", sans-serif;
}

.contact {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #58e6f0, #f05858);
  background-size: 400% 400%;
  animation: anime-back 10s infinite ease-in-out;
}

.bg-for-contacts{
  background: linear-gradient(to right, #58e6f0, #f05858);
  animation: anime-back 10s infinite ease-in-out;
}

@keyframes anime-back {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.contact .content {
  max-width: 800px;
  text-align: center;
}
.container-cnt {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
}

.contact .content p {
  font-weight: 300;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  font-size: 25px;
  display: inline-block;
  height: 43px;
  width: 43px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;
}
.container .contactInfo .box .icon:hover {
  color: #24262b;
  background-color: #ffffff;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-style: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #000000;
}

.contactForm {
  width: 100%;
  padding: 40px;
  background: rgba(36, 35, 35, 0.856);
}

.contactForm h2 {
  font-style: 30px;
  /* color: #333; */
  font-weight: 800;
}

.contactForm h2.inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm input {
  width: 100%;
  padding: 5px 0;
  font-style: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm textarea {
  width: 100%;
  padding: 5px 0;
  font-style: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  /* position: absolute; */
  left: 0;
  padding: 5px 0;
  font-style: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: right 100px;
}
.floating-button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

.contactInfo{
  display: flex;
  justify-content: space-around;
}

.text{
  text-align: center;
}

.icon{
  text-align: center;
}



@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .floating-button {
    margin: 10px auto;
    width: 120px;
    height: 40px;
  }
}
